@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * https://github.com/rhiokim/markdown-css
 * made by rhio.kim
 */
.wood-ri {
  padding: 20px;
  color: #000000;
  font-size: 15px;
  background-image: url('wood.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.wood-ri a {
  color: #004794;
}
.wood-ri a:hover {
  color: #005fc7;
}
.wood-ri h1,
.wood-ri h2,
.wood-ri h3,
.wood-ri h4,
.wood-ri h5 {
  font-weight: 400;
  color: #000000;
  letter-spacing: -1px;
}
.wood-ri h2 {
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.7em;
}
.wood-ri h6 {
  color: #777;
}
.wood-ri hr {
  border: 1px solid #e6e6e6;
}
.wood-ri p {
  line-height: 19px;
}
.wood-ri p > code {
  color: #130079;
  font-size: .9em;
}
.wood-ri pre > code {
  font-size: 1em;
  letter-spacing: -1px;
  font-weight: normal;
  text-shadow: none;
}
.wood-ri blockquote {
  border-left: 4px solid #ffffff;
  padding: 0 15px;
  font-style: italic;
  color: #130079;
}
.wood-ri table {
  background-color: #fafafa;
}
.wood-ri table tr th,
.wood-ri table tr td {
  border: 1px solid #e6e6e6;
}
.wood-ri table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
/**
 * after less
 */
/*
.haroopad {
	
  img {
    .bordered(@border-color, @border-color, @border-color, @border-color);
    .rounded(3px);
    .box-shadow(0 0 7px darken(@border-color, 18%));

    &:hover {
	    -webkit-animation-duration: 1s;
	    -webkit-animation-delay: .2s;
    	.pulse;
    }
  }

  h1 {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .2s;
  	.tada;
  }

  &>ul {
  	&>li {
	    -webkit-animation-duration: .5s;
	    -webkit-animation-delay: .2s;
	  	.fadeInLeft;
	  }
  }

}
*/