[submodule "lib/gemoji"]
	path = lib/gemoji
	url = git@github.com:github/gemoji.git
[submodule "lib/google-picker"]
	path = lib/google-picker
	url = git@github.com:rhiokim/google-picker.git
[submodule "lib/ionicons"]
	path = lib/ionicons
	url = git@github.com:driftyco/ionicons.git
[submodule "lib/haroopad-locales"]
	path = lib/haroopad-locales
	url = git@github.com:rhiokim/haroopad-locales.git
