#main > aside {
	/*-webkit-flex: 1 6 75px;*/
	/*-webkit-order: 3;*/
	display: -webkit-flex;
	/*-webkit-flex-flow: column;*/
	/*background-color: rgba(255, 255, 255, 0.8);*/
	/*position: absolute;*/
	/*height:100%;*/
	/*margin-bottom: 23px;*/
	/*right: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*z-index: 5;*/
}

#main > aside > header {
  	/*background-color: #dfdfdf;*/
  	padding: 5px 10px;
	position: absolute;
	/*width: 255px;*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,50,50,1)), color-stop(100%,rgba(30,30,30,1)));  Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(50,50,50,1) 0%,rgba(30,30,30,1) 100%); /* Chrome10+,Safari5.1+ */*/
	/*background: linear-gradient(to bottom,  rgba(50,50,50,1) 0%,rgba(30,30,30,1) 100%); /* W3C */*/
}

#main > aside > header > h5 {
  margin: 0;
}

#main #toc {
	display: none;
}