
html, body { height:100% }
body {
  margin: 0 auto;
  padding: 0;
}

#main {
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row;
 }

#main > nav {
   -webkit-flex: 1 6 130px;
   -webkit-order: 1;
}
  
#main > aside {
   -webkit-flex: 1 6 37px;
   -webkit-order: 3;
}
 
#main > article {
  -webkit-flex: 3 1 100%;
  -webkit-order: 2;
  display: -webkit-flex;
  -webkit-flex-flow: row;

  position: absolute;
  margin-top: 32px;
  /* nav, aside 
  margin-left: 130px;
  margin-right: 37px;*/
  margin-bottom: 21px;

  bottom:0;
  top:0;
  left:0;
  right:0;
}
  
#main > article > #editor {
  height: 100%;
  -webkit-flex: 1 0 50%;
  -webkit-order: 1;
}
  
#main > article > #haroo {
  height: 100%;
  -webkit-flex: 1 0 50%;
  -webkit-order: 2;
}
  
#main > article > #haroo > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  overflow-y: auto;
}

.navbar-inner {
   padding: 1px 3px 0 3px !important;
}
