
html, body { height:100% }
body {
  margin: 0 auto;
  padding: 0;
}

#main {
  position: absolute;
  
  width: 100%;

  top: 0;
  left: 0;      
  right: 0;      
  bottom: 24px;

  /* flexbox setup */
  display: -webkit-flex;
  -webkit-flex-direction: row;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}

#main > nav,
#main > article,
#main > aside {
  width: 0;
  height: 100%;

  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

#main > #md-help { 
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
    
 -webkit-order: 1;
         order: 1;

  z-index: 1;
}
#main > #editor { 
  -webkit-flex: 1 1  50%;
  flex: 1 1  50%;

 -webkit-order: 3;
         order: 3;
  z-index: 5;
}
#main > #viewer { 
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;

 -webkit-order: 4;
         order: 4;
  z-index: 5;
}
#main > #toc { /*
  -webkit-flex: 1 1 auto;
  flex: 1 1  auto;
    
 -webkit-order: 5;
         order: 5;*/
  z-index: 5;
}


/**
 * Perspective
 */

#main.layout0 > #editor {
 -webkit-order: 3;
         order: 3;
}
#main.layout0 > #viewer {
 -webkit-order: 4;
         order: 4;
}

#main.layout1 > #editor {
 -webkit-order: 4;
         order: 4;
}
#main.layout1 > #viewer {
 -webkit-order: 3;
         order: 3;
}

#main.layout2 > #editor {
  -webkit-flex: 1 1 100% !important;
  flex: 1 1 100% !important;
}
#main.layout2 > #viewer {
  display: none;
}

#main.layout3 > #editor {
  display: none;
}
#main.layout3 > #viewer {
  -webkit-flex: 1 1 100% !important;
  flex: 1 1 100% !important;
}

#main > #viewer > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  overflow-y: auto;
}

.navbar-inner {
   padding: 1px 3px 0 3px !important;
}
