
footer {
   display: block;
}
footer .btn {
  margin-top: 0 !important;
}
footer .btn-group {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

footer #spaceCount, footer #columnCount {
  margin-right: 2px;
}

footer .navbar .btn#preference {
  padding: 2px 5px;
}

.navbar-fixed-bottom {
  bottom: -10px !important;
}

footer .dropdown-menu {
	min-width: 130px;
	padding: 0 0 3px 0;
}

footer .dropdown-menu .divider {
	margin: 1px 0;
}

footer .dropdown-menu li > a {
	padding: 0 10px 0 20px;
}

footer .dropdown-menu li > a i {
	left: 3px;
}

footer #lineCount,
footer #wordCount,
footer #cursorActivity {
  margin-right: 8px;
}

footer #elementsInfo {
  margin-top: 3px;
}