@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * https://github.com/rhiokim/markdown-css
 * made by rhio.kim
 */
.wood {
  padding: 20px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'PT Sans', AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', sans-serif;
  background-image: url('wood.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.wood a {
  color: #83ebff;
}
.wood a:hover {
  color: #b6f3ff;
}
.wood h1,
.wood h2,
.wood h3,
.wood h4,
.wood h5 {
  font-weight: 400;
  color: #e6e6e6;
  letter-spacing: -1px;
}
.wood h2 {
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.7em;
}
.wood h6 {
  color: #777;
}
.wood hr {
  border: 1px solid #e6e6e6;
}
.wood p {
  line-height: 19px;
}
.wood p > code {
  font-family: 'PT Sans', AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', sans-serif;
  color: #B5FA7F;
  font-size: .9em;
}
.wood pre > code {
  font-size: 1em;
  font-family: 'PT Sans', AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', sans-serif;
  letter-spacing: -1px;
  font-weight: normal;
  text-shadow: none;
}
.wood blockquote {
  border-left: 4px solid #e6e6e6;
  padding: 0 15px;
  font-style: italic;
  color: #B5FA7F;
}
.wood table {
  background-color: #474747;
}
.wood table tr th,
.wood table tr td {
  border: 1px solid #333333;
}
.wood table tr:nth-child(2n) {
  background-color: #404040;
}
/**
 * after less
 */
/*
.haroopad {
	
  img {
    .bordered(@border-color, @border-color, @border-color, @border-color);
    .rounded(3px);
    .box-shadow(0 0 7px darken(@border-color, 18%));

    &:hover {
	    -webkit-animation-duration: 1s;
	    -webkit-animation-delay: .2s;
    	.pulse;
    }
  }

  h1 {
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .2s;
  	.tada;
  }

  &>ul {
  	&>li {
	    -webkit-animation-duration: .5s;
	    -webkit-animation-delay: .2s;
	  	.fadeInLeft;
	  }
  }

}
*/