.rule {
    display: block;
    height: 50px;
    overflow: hidden;    
}
.rule i {
    display: block;
    background: gray;
    height: 3px;
}
.rule > i {
    margin-top: -100px;
    height: 100px;
    -webkit-border-radius: 100%;
        -ms-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0 0 35px #444;
        -ms-box-shadow: 0 0 35px #444;
            box-shadow: 0 0 35px #444;
}
