body {
	font: 14px/1.231 "Lato", "AppleSDGothicNeo-Medium", sans-serif !important;
}

footer {
	background-color: #95A5A6 !important;
	color: #eceff1 !important;
}
footer a {
  color: #ECF0F1 !important;
  font-weight: 700; 
}

.footer-banner {
	background-color: #8E44AD !important;
	color: white !important;
}

.footer-banner ul {
	margin: 0 !important;
}

.footer-banner ul li {
	border-top: 1px solid #9B59B6 !important;
	opacity: 0.8;
}

.footer-banner ul li:first-child {
	border-top: none !important;
	padding-top: 1px;
}

.rule {
    display: block;
    height: 35px;
    overflow: hidden;    
}

.rule i {
    display: block;
    background: gray;
    height: 3px;
}

.rule > i {
    margin-top: -100px;
    height: 100px;
    -webkit-border-radius: 100%;
        -ms-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0 0 35px #444;
        -ms-box-shadow: 0 0 35px #444;
            box-shadow: 0 0 35px #444;
}

#download-area img{
    /*width: 160px;*/
    height: 160px;
}

img.logo {
    margin-top: -40px;
}
/**
 * fixed
 */
.todo li:first-child {
    -webkit-border-radius: 6px 6px 0 0 !important;
        -ms-border-radius: 6px 6px 0 0 !important;
            border-radius: 6px 6px 0 0;
}