html,
body,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p,
article blockquote,
article ol,
article ul,
article li,
article img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html * {
 /* font-family: Droid Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color-profile: sRGB;*/
}
body {
  /*min-width: 32em;
  max-width: 52em;*/
  /*margin: 40px 70px;*/
}
article p {
  font-weight: lighter;
  margin-bottom: 20px;
}
article strong {
  font-weight: bold;
}
article ol,
article ul {
  margin-left: 2em;
  margin-bottom: 20px;
}
article ul ul,
article ol ol,
article ul ol,
article ol ul {
  margin-top: 10px;
}
article li {
  margin-bottom: 10px;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: lighter;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 20px;
}
article h1 {
  font-size: 26px;
  line-height: 29.548799999999996px;
}
article h2 {
  font-size: 23px;
  line-height: 29.548799999999996px;
}
article h3 {
  font-size: 21px;
  line-height: 28.128px;
}
article h4 {
  font-size: 19px;
  line-height: 26.592px;
}
article h5 {
  font-size: 17px;
  line-height: 26.592px;
}
article h6 {
  font-size: 15px;
  line-height: 26.592px;
}
article img {
  margin-bottom: 20px;
}
article h1 img,
article h2 img,
article h3 img,
article h4 img,
article h5 img,
article h6 img,
article p img {
  margin-bottom: 0;
}
article pre {
  margin-bottom: 20px;
}
article pre,
article code {
  font-family: monospace;
}
article pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
article h1 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid;
}
article h2 {
  border-bottom: 1px solid;
}
article h3,
article h4,
article h5,
article h6 {
  border-bottom: none;
}
html * {
  color: #839496;
}
html body {
  background-color: #002b36;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  color: #93a1a1;
  border-color: #839496;
}
html a,
html a:active,
html a:visited {
  color: #93a1a1;
}
html a:hover {
  background-color: #073642;
}
html pre {
  color: #93a1a1;
  background-color: #073642;
}
html a,
html a:active,
html a:visited,
html code.url {
  color: #b58900;
}
html h1 {
  color: #b58900;
}
html h2,
html h3,
html h4,
html h5,
html h6 {
  color: #b58900;
}
