/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
html, body { height:100% }
body {
	margin: 0;
  font-family: Droid Sans, Arial, sans-serif;
  line-height: 1.5;
  overflow-y: hidden;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#editor {
	width: 50%;
	height: 100%;
	float: left;
	margin-left: -2px;
	display: inline-block;
}

#spliter {
	width: 2px;
	height: 100%;
	float: left;
	display: inline-block;
	background: #000;
}

#haroo {
	width: 50%;
	height: 100%;
	float: left;
	display: inline-block;
	border-bottom: 1px solid #000;
	word-wrap: break-word;
	overflow-y: auto;
}

#haroo article {
	padding: 20px;
}

.CodeMirror {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
/*
#viewer > p {
	margin: 0;
}*/

/* -----------------------------------------
   custom scroll
----------------------------------------- */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


