/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
html, body { height:100% }
body {
	margin: 0;
  font-family: Droid Sans, Arial, sans-serif;
  line-height: 1.5;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#editor {
	width: 49%;
	height: 100%;
	float: left;
	display: inline-block;
}

#spliter {
	width: 2%;
	height: 100%;
	float: left;
	display: inline-block;
	background: #afafaf;
}

#haroo {
	width: 49%;
	height: 100%;
	float: left;
	display: inline-block;
	border-bottom: 1px solid #000;
	word-wrap: break-word;
	overflow-y: auto;
}

#haroo article {
	padding: 20px;
}

.CodeMirror {
	height: 100%;
}
/*
#viewer > p {
	margin: 0;
}*/

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


