<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">

<div id="impress">

  <div class="step">
    <p><img alt="haroopad" src="img/haroopad.png"/></p>
    <p>What do you want to say to people?</p>
  </div>

</div>

<script src="js/zepto.min.js"></script>
<script src="js/impress.js"></script>
<script src="../../js/vendors/js-url.js"></script>
<script src="js/app.js"></script>
<script>
  monitor(url('#file'), { interval: 150 }, function(content) {
    $('#impress').html(content);
    
    $('.step').each(function(i) {
      $(this)
        .attr('data-x', 0)
        .attr('data-y', i * -2000)
        .attr('data-z', i * 2000)
        .attr('data-rotate', Math.sin(i) / 2 * Math.PI * 100);
    });

    impress('impress', 1).init();
    
    setInterval(function() {
      $('.active').next().show();
    }, 200);
  });

</script>

</body>
</html>