body>* {
	display: none;

	opacity: .6;
	line-height: 1;
	font-size:.7em;
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}

p {
	margin: 5px 0 !important;
}

body:before {
	content: "OUTLINE";
    color: #ababab;
}

body>h1:before,
body>h2:before,
body>h3:before,
body>h4:before,
body>h5:before,
body>h6:before {
  content: "# ";
  display: inline;
  color: #dbdbdb;
}
/*
body>h1:after,
body>h2:after,
body>h3:after,
body>h4:after,
body>h5:after,
body>h6:after {
  content: "";
}*/
body>h2:before {
  content: "## ";
}
body>h3:before {
  content: "### ";
}
body>h4:before {
  content: "#### ";
}
body>h5:before {
  content: "##### ";
}
body>h6:before {
  content: "###### ";
}

h1, h2, h3, h4, h5, h6 {
	/*margin-top: 20px 0 !important;*/
	margin: 2px 0 2px 0 !important;
	padding: 0 !important;
	display: block !important;

	opacity: 1;
	line-height: inherit;
	-webkit-transform: scale(1);
}

h1 {
	font-size: 18px !important;
	-webkit-transition: font-size .3s;
}

h2 {
	font-size: 16px !important;
	border-bottom: 0 !important;
	-webkit-transition: font-size .3s;
}

h3 {
	font-size: 15px!important;
	-webkit-transition: font-size .3s;
}

h4 {
	font-size: 14px !important;
	-webkit-transition: font-size .3s;
}

h5 {
	font-size: 13px !important;
	-webkit-transition: font-size .3s;
}

h6 {
	font-size: 12px !important;
	-webkit-transition: font-size .3s;
}

