
body {
  font-family: Droid Sans, Arial, sans-serif;
  line-height: 1.5;
  overflow-y: hidden;
  background: url('../img/linen.png');
  -webkit-user-select: none;
}

footer {
  font-size: 11px;
}

/* -----------------------------------------
   custom scroll
----------------------------------------- */

/* Let's get this party started */
#editor ::-webkit-scrollbar, 
#haroo ::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
#editor ::-webkit-scrollbar-track, 
#haroo ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#editor ::-webkit-scrollbar-thumb, 
#haroo ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#editor ::-webkit-scrollbar-thumb:window-inactive, 
#haroo ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

/* -----------------------------------------
   Error Fix
----------------------------------------- */
/* solarized theme underline markdown error */
.cm-s-solarized .cm-em {
  text-decoration: none !important;
}
.cm-s-solarized .cm-hr {
  color: inherit;
  border: 0;
  display: inline-block;
}
.cm-s-solarized .cm-tab:before {
  content: "";   /*visualize tab character*/
}

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.cm-tab {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
   background-position: right;
   background-repeat: no-repeat;
}

.CodeMirror {
  height: 100%;
  border-top: 0;
  line-height: 1.40em;
}

.CodeMirror-lines {
  padding: 15px 0 35px 0;
}

/* fixed broken cursor pos */
.CodeMirror-lines pre {
  white-space: pre;
}