/**
 * Table of contents
 */
aside#oembed{/*
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);*/

  background-color: #222;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,0,0, 0.9);
}


#oembed > header {
  display: none;
}

#main.oembed #oembed {
  width: 155px;

  -webkit-transition: width 0.15s ease-out;
  transition: width 0.15s ease-out;
}

#main.oembed #oembed:hover {
  width: 270px;

  -webkit-transition: width 0.15s ease-out;
  transition: width 0.15s ease-out;
}
#main.oembed #oembed:hover #oembed-content {
  width: 270px;

  -webkit-transition: width 0.15s ease-out;
  transition: width 0.15s ease-out;
}

#main.oembed #oembed-content {
  overflow-y: auto;
}

#oembed-content {
  font-size: 12px;
  width: 130px;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#oembed-content a {
  text-shadow: 1px 1px #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

#oembed-content ul {
  padding: 0;
  margin-left: 5px;
  list-style-type: none;
}

#oembed-content>ul {
  margin-top: 10px;
  height: 100%;
}

#oembed-content>ul>li {}

