/**
 * 
 */

aside#toc{
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);

  /*background-color: rgba(30, 30, 30, 0.8);*/
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,0,0, 0.6);
}


#toc > header {
	z-index: 2;
	color: #fff;
	padding: 10px;
	position: absolute;
	width: 255px;
  	text-shadow: 0 1px 0 #000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,1)), color-stop(100%,rgba(50,50,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,1) 0%,rgba(c,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(75,75,75,1) 0%,rgba(50,50,50,1) 100%); /* W3C */
}

#main.toc #toc {
  width: 130px;

  -webkit-transition: width 0.15s ease-out;
  transition: width 0.15s ease-out;
}

#main.toc #toc:hover {
  width: 270px;

  -webkit-transition: width 0.15s ease-out;
  transition: width 0.15s ease-out;
}
#main.toc #toc:hover #toc-content {
  width: 270px;

  -webkit-transition: width 0.15s ease-out;
  transition: width 0.15s ease-out;
}

#main.toc #toc-content {
  overflow-y: auto;
}

#toc-content {
  font-size: 12px;
  width: 130px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

#toc-content a {
	/*text-shadow: 0 1px 0 rgba(0,0,0, .5);*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

#toc-content ul {
  padding: 0;
  margin-left: 5px;
  list-style-type: none;
}

#toc-content>ul {
  margin-top: 30px;
  height: 100%;
}

#toc-content>ul {}

