/*!
 * Markdown Helper
 */
nav#md-help {
  background-color: #222;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,0,0, 0.9) inset;

  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
}

#md-help > header {
  display: none;
}

#main.md-help #md-help:hover {
  width: 170px;

  -webkit-transition: width 0.125s ease-out;
  transition: width 0.125s ease-out;
}
#main.md-help #md-help:hover #md-help-content {
  width: 100%;

  -webkit-transition: width 0.125s ease-out;
  transition: width 0.125s ease-out;
}

#main.md-help #md-help {
  width: 130px;

  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
}

#main.md-help #md-help-content {
  overflow-y: auto;
  /*width: 100%;*/
}

#md-help-content {
  font-size: 11px;
  width: 130px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#md-help-content > p {
  padding-left: 10px;
  padding-top: 10px;
}

#md-help-content ul {
  margin-left: 10px;
  margin-top: 10px;
}
#md-help-content li {
  list-style-type: none;
  line-height: 16px;
  text-shadow: 1px 1px #000;
}

#md-help-content a[data-md] {
  color: #999;
}

#md-help-content b {
  color: #fff;
}
