html, body {
	margin: 0 auto;
	padding: 0;
}
body {
	margin-top: 3px;
	margin-left: 3px;
  user-select: none;
  -webkit-user-select: none;
}

hr {
	margin: 10px 0;
}

.select2-search {
	display: none;
}

.select2-results {
	max-height: 175px;
}

#about-tab h1,
#about-tab h2,
#about-tab h3,
#about-tab h4 {
	margin-top: -5px;
	margin-bottom: -3px;
}

.dropdown-menu {
	padding: 6px 0;
	min-width: 100px;
}
.dropdown-menu li > a {
	padding: 0 10px 0 24px;
}
.dropdown-menu li > a.active i {
	display: block;
}
.dropdown-menu li > a i {
	display: none;
}

label.checkbox {
	margin-bottom: 0;
}