body {
	margin-top: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.select2-search {
	display: none;
}

.select2-results {
	max-height: 175px;
}

#about-tab h1,
#about-tab h2,
#about-tab h3,
#about-tab h4 {
	margin-top: -5px;
	margin-bottom: -3px;
}