*, .btn {
  font-family: "Lucida Grande", "Segoe UI", "Apple SD Gothic Neo", "Lucida Sans Unicode", Helvetica, "Malgun Gothic", Arial, sans-serif;
}

html, body {
	/*height: 100%;*/
	margin: 0 auto;
	padding: 0;
}

body {
  font-size: 12px;
	margin-top: 10px;
  user-select: none;
  -webkit-user-select: none;
}

span {
  font-size: 12px;
}

hr {
	margin: 10px 0;
}

.nav {
	margin-bottom: 10px;
}

.select2-search {
	display: none;
}

.select2-results {
	max-height: 175px;
}

#about-tab h1,
#about-tab h2,
#about-tab h3,
#about-tab h4 {
	margin-top: -5px;
	margin-bottom: -3px;
}

.tab-content {
	overflow: visible;
}

.dropdown-menu {
	padding: 6px 0;
	min-width: 100px;
}
.dropdown-menu li > a {
	padding: 0 10px 0 24px;
}
.dropdown-menu li > a.active i {
	display: block;
}
.dropdown-menu li > a i {
	display: none;
}

label.checkbox {
	margin-bottom: 0;
}

/*
 * fixed select2
 */

.select2-drop {
	margin-top: -3px;
}