html { 
  height: 100% 
}

body {
  margin: 0 !important;
  padding: 5px 20px !important;
  background-color: #fff;
  font-family: "Lucida Grande", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size: .9em;

  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, br {
  clear: both;
}

body >:first-child {
  margin-top: 0 !important;
}

img.plugin {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

iframe {
  border: 0;
}

#root>ul, #root>ol {
  display: inline-block;
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

kbd {
  border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;
}

.oembeded .oembed_photo{
  display: inline-block;
}

img[data-echo] {
  margin:25px 0;
  width: 100px;
  height: 100px;
  background: #fff url(../img/ajax.gif) no-repeat center center;
}

/**
 * spinner
 */

.spinner {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: -.1em;

    border: 2px solid rgba(0,0,0,0.5);
    border-top-color: transparent;
    border-radius: 100%;

    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
 }
 
.spinner:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -6px;
    left: 0px;
    
    border: 4px solid transparent;
    border-bottom-color: rgba(0,0,0,0.5);
    
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/********************************************
 * TOC
 **********************************************/
p.toc {
  margin: 0 !important;
}

p.toc ul {
  padding-left: 10px;
}

p.toc>ul {
  padding: 10px;
  margin: 0 10px 0 10px;
  display: inline-block;
  border: 1px solid #ededed;
  border-radius: 5px;
}

p.toc ul, p.toc li{
  list-style-type: none;
}

p.toc li {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

p.toc li a::after {
  content: ".";
}

p.toc li a:before {
  content: "• ";
}

p.toc h5 {
  /*font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;*/
  text-transform: uppercase;
  /*text-align: center;*/
}

p.toc .title {
  float: left;
  padding-right: 3px;
  /*background: #fff;*/
}

p.toc .number {
  margin: 0;
  float: right;
  padding-left: 3px;
  background: #fff;
  display: none;
}
