body {
    /*padding:30px;*/
    font-size:18px;
    font-family: AppleSDGothicNeo,helvetica,arial,freesans,clean,sans-serif;
    color:#333;
}
a {
    color: #4183C4;
    text-decoration: none;
}
body {
    font-size: 14px;
    line-height: 1.6;
}
body>*:first-child {
    margin-top: 0!important;
}
body>*:last-child {
    margin-bottom: 0!important;
}
body a.absent {
    color: #c00;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
body h1 tt, body h1 code, body h2 tt, body h2 code, body h3 tt, body h3 code, body h4 tt, body h4 code, body h5 tt, body h5 code, body h6 tt, body h6 code {
    font-size: inherit;
}
body h1 {
    font-size: 28px;
    color: #000;
}
body h2 {
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    color: #000;
}
body h3 {
    font-size: 18px;
}
body h4 {
    font-size: 16px;
}
body h5 {
    font-size: 14px;
}
body h6 {
    color: #777;
    font-size: 14px;
}
body p, body blockquote, body ul, body ol, body dl, body li, body table, body pre {
    margin: 15px 0;
}
body ul, body ol, body dl, body li {
    margin: 3px 0;
}
body hr {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0;
    margin: 30px 0;
}
body>h2:first-child, body>h1:first-child, body>h1:first-child+h2, body>h3:first-child, body>h4:first-child, body>h5:first-child, body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
body h1+p, body h2+p, body h3+p, body h4+p, body h5+p, body h6+p {
    margin-top: 0;
}
body li p.first {
    display: inline-block;
}
body ul, body ol {
    padding-left: 30px;
}
body ul li>:first-child, body ol li>:first-child {
    margin-top: 0;
}
body ul li>:last-child, body ol li>:last-child {
    margin-bottom: 0;
}
body dl {
    padding: 0;
}
body dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}
body dl dt:first-child {
    padding: 0;
}
body dl dt>:first-child {
    margin-top: 0;
}
body dl dt>:last-child {
    margin-bottom: 0;
}
body dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}
body dl dd>:first-child {
    margin-top: 0;
}
body dl dd>:last-child {
    margin-bottom: 0;
}
body blockquote {
    border-left: 4px solid #ccc;
    padding: 0 15px;
    font-style: italic;
    font-size: 13px;
    color: #888;
}
body blockquote>:first-child {
    margin-top: 0;
}
body blockquote>:last-child {
    margin-bottom: 0;
}
body table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0px;
}
body table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
body table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
body table tr th {
    font-weight: bold;
}
body table tr th, body table tr td {
    border: 1px solid #ccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
body table tr th>:first-child, body table tr td>:first-child {
    margin-top: 0;
}
body table tr th>:last-child, body table tr td>:last-child {
    margin-bottom: 0;
}
body img {
    max-width: 100%;
}
body span.frame {
    display: block;
    overflow: hidden;
}
body span.frame>span {
    border: 1px solid #ddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}
body span.frame span img {
    display: block;
    float: left;
}
body span.frame span span {
    clear: both;
    color: #333;
    display: block;
    padding: 5px 0 0;
}
body span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
body span.align-center>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}
body span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
body span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
body span.align-right>span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}
body span.align-right span img {
    margin: 0;
    text-align: right;
}
body span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}
body span.float-left span {
    margin: 13px 0 0;
}
body span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}
body span.float-right>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}
body code, body tt {
    color: #d14;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}
body pre>code {
    /*margin: 0;
    padding: 0;*/
    font-size: 1em;
    white-space: pre;
    border: none;
    font-family: Consolas, Inconsolata, Courier, monospace;
    /*background: transparent;*/
}
body .highlight pre, body pre {
    /*background-color: #f8f8f8;*/
    border: 1px solid #ccc;
    line-height: 19px;
    overflow: auto;
    /*padding: 6px 10px;*/
    border-radius: 3px;
}
body pre code, body pre tt {
    /*background-color: transparent;*/
    /*border: none;*/
}
#wiki-wrapper body>h1:first-child, #wiki-wrapper .gollum-rest-content body>div:first-child>div:first-child>h1:first-child, #wiki-wrapper .gollum-pod-content body>a.dummyTopAnchor:first-child+h1, #wiki-wrapper .gollum-org-content body>p.title:first-child, #wiki-wrapper .gollum-asciidoc-content body>#header:first-child>h1:first-child {
    display: none;
}
body img {
    margin: 7px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}