/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * https://github.com/rhiokim/markdown-css
 * solarized-light style
 * made by rhio.kim
 * powered by http://ethanschoonover.com/solarized
 */.solarized-light {
  padding: 20px;
  color: #737373;
  font-size: 15px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', Verdana, Tahoma, sans-serif;
  background: #fdf6e3;
  -webkit-font-smoothing: antialiased;
}
.solarized-light a {
  color: #1e6ea7;
}
.solarized-light a:hover {
  color: #268bd2;
}
.solarized-light h1,
.solarized-light h2,
.solarized-light h3,
.solarized-light h4,
.solarized-light h5 {
  color: #b58900;
}
.solarized-light h2 {
  border-bottom: 1px solid #f6d784;
}
.solarized-light h6 {
  color: #9c7600;
}
.solarized-light hr {
  border: 1px solid #fae7b3;
}
.solarized-light pre > code {
  font-size: .9em;
  font-family: Consolas, Inconsolata, Courier, monospace;
}
.solarized-light blockquote {
  border-left: 4px solid #fae7b3;
  padding: 0 15px;
  font-style: italic;
}
.solarized-light table {
  background-color: #fdf4dd;
}
.solarized-light table tr th,
.solarized-light table tr td {
  border: 1px solid #fae7b3;
}
.solarized-light table tr:nth-child(2n) {
  background-color: #fef8ea;
}
/**
 * after less
 */