/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * https://github.com/rhiokim/markdown-css
 * solarized-light style
 * made by rhio.kim
 * powered by http://ethanschoonover.com/solarized
 */
.github {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "SimSun", "Segoe UI", AppleSDGothicNeo-Medium, 'Malgun Gothic', Arial, freesans, sans-serif;
  font-size: 15px;
  background: #ffffff;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
.github a {
  color: #3269a0;
}
.github a:hover {
  color: #4183c4;
}
.github h2 {
  border-bottom: 1px solid #e6e6e6;
  line-height: 1.6;
}
.github h6 {
  color: #777;
}
.github hr {
  border: 1px solid #e6e6e6;
}
.github pre > code {
  font-size: .9em;
  font-family: Consolas, Inconsolata, Courier, monospace;
}
.github p > code,
.github li > code,
.github td > code,
.github h1 > code,
.github h2 > code,
.github h3 > code,
.github h4 > code,
.github h5 > code,
.github h6 > code,
.github blockquote > code {
  background-color: rgba(0, 0, 0, 0.07);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
  padding: 0.2em 0.5em;
  border: 0;
}
.github blockquote {
  border-left: 4px solid #e6e6e6;
  padding: 0 15px;
  font-style: italic;
}
.github table {
  background-color: #fafafa;
}
.github table tr th,
.github table tr td {
  border: 1px solid #e6e6e6;
}
.github table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
/**
 * after less
 */
